@font-face {
	font-family : 'Hanuman';
	src : url('../fonts/Hanuman.ttf');
}
@font-face {
	font-family: 'Open Sans';
	src : url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
	font-family: 'Tacteng';
	src: url('../../fonts/Tacteng.ttf');
}

@font-face {
	font-family: 'Noto Sans Khmer';
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/notosanskhmer/v18/ijw3s5roRME5LLRxjsRb-gssOenAyendxrgV2c-Zw-9vbVUti_Z_dWgtWYuNAKz0mgfbdQ.woff2) format('woff2');
	unicode-range: U+1780-17FF, U+200C, U+25CC;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Noto Sans Khmer';
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/notosanskhmer/v18/ijw3s5roRME5LLRxjsRb-gssOenAyendxrgV2c-Zw-9vbVUti_Z_dWgtWYuNAKzxmgfbdQ.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Noto Sans Khmer';
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/notosanskhmer/v18/ijw3s5roRME5LLRxjsRb-gssOenAyendxrgV2c-Zw-9vbVUti_Z_dWgtWYuNAKz_mgc.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif, 'Noto Sans Khmer';
	font-size: 13px;
}
a:focus {
	outline: none;
}
.nav-tabs {
	border-bottom:  1px solid #ddd;
	border-top: 1px solid #ddd;;
}
#template-wrapper {
	height: 100%;
	width: 100%;
	position: fixed;
	overflow: auto;
}
#template-content {
	background: white;
	min-height: 100%;
	position: relative;
	width: 85%;
	margin: 0 auto;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	padding: 0 2px;
	box-shadow: 0 0 5px -4px;
	-webkit-box-shadow: 0 0 5px -3px;
	-moz-box-shadow: 0 0 5px -4px;
}

/*********** Header ***********/

header#main-header {
	height: 150px;
	width: 100%;
	background: white;
}
header#main-header #banner-wrapper {
	display: -webkit-flex;
	display: flex;
}
header#main-header #banner_part1,
header#main-header #banner_part2,
header#main-header #banner_part3,
header#main-header #banner_part4 {
	height: 100px;
	position: relative;
}
header#main-header #banner_part1 {
	background: url(../images/camlis_template_01.jpg) no-repeat;
	-webkit-flex-basis: 213px;
	flex-basis: 213px;
}
header#main-header #banner_part2 {
	background: url(../images/camlis_template_02.jpg);
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: inline-block;
}
header#main-header #banner_part3 {
	background: url(../images/camlis_template_03.jpg) no-repeat;
	flex-basis: 69px;
	-webkit-flex-basis: 69px;
}
header#main-header #banner_part4 {
	background: url(../images/camlis_template_04.jpg);
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

/** Banner content **/

header#main-header .banner-title {
	font-size: 11pt;
	font-weight: bold;
	color: white;
	position: absolute;
	top: 35%;
}
header#main-header #banner_part2 #language ul {
	position: absolute;
	right: 0;
	bottom: 0;
}
header#main-header #banner_part2 #language ul,
header#main-header #banner_part2 #language ul li a {
	color: white;
	text-decoration: none;
}
header#main-header #banner_part2 #language ul li a:hover {
	padding-bottom: 2px;
	border-bottom: 2px solid white;
}
header#main-header #banner_part2 #language ul li {
	list-style-type: none;
	display: inline-block;
}
header#main-header #user_box {
	font-size: 10.5pt;
	color: white;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 9px;
}
header#main-header #user_box a {
	color: #25ccff;
}
header#main-header #user_box a#username {
	color: white;
}

/** Menu **/

nav#main-menu {
	width: 100%;
	box-shadow: 0 3px 5px -3px #555353;
	-webkit-box-shadow: 0 3px 5px -3px #555353;
	-moz-box-shadow: 0 3px 5px -3px #555353;
	margin-top: 3px;
	padding: 0 30px;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	position: relative;
	z-index: 100;
	background: white;
}
nav#main-menu ul {
	list-style: none;
	min-height: 44px;
	margin: 0;
	padding: 0;
}
nav#main-menu ul li a {
	display: inline-block;
	padding: 12px 20px;
	min-width: 140px;
	text-decoration: none;
	font-weight: bold;
}
nav#main-menu > ul > li {
	display: inline-block;
	position: relative;
}
nav#main-menu > ul > li > a {
	min-width: 120px;
	text-align: center;
}
nav#main-menu > ul > li > a:hover, nav#main-menu > ul > li.selected > a {
	background: dodgerblue;
	color: white;
}
nav#main-menu > ul > li > a:focus {
	outline: none;
}
nav#main-menu > ul > li > ul {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 100;
	white-space: nowrap;
	background: white;
	box-shadow: 0 3px 5px -3px black;
	-webkit-box-shadow: 0 3px 5px -3px black;
	-moz-box-shadow: 0 3px 5px -3px black;
	margin-top: 10px;
	border: 1px solid #d6d6d6;
	padding-top: 5px;
	display: none;
}
nav#main-menu > ul > li.show-dropdown ul {
	display: block;
}
nav#main-menu > ul > li > ul:before {
	content: '';
	display: block;
	border: 10px solid transparent;
	position: absolute;
	bottom: 100%;
	left: 25px;
	border-bottom-color: #d6d6d6;
}
nav#main-menu > ul > li > ul:after {
	content: '';
	display: block;
	border: 8px solid transparent;
	position: absolute;
	bottom: 100%;
	left: 27px;
	border-bottom-color: white;
}
nav#main-menu > ul > li ul li:hover {
	background: dodgerblue;
}
nav#main-menu > ul > li ul li:hover a {
	color: white;
}
nav#main-menu.fixed-top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: -50px auto 0;
	width: 100%;
	padding: 0 10%;
	border-top: 2px solid dodgerblue;
	z-index: 99999999;
}
nav#main-menu.fixed-top > ul > li > a {
	padding: 18px 25px;
}

/*********** End Header ***********/


/*********** Section ***********/

section.content-body {
	width: 100%;
	padding: 30px 25px 100px;
	position: relative;
}
section.content-body:after {
	content: '';
	display: block;
	clear: both;
}

/*********** End Section ***********/


/*********** Footer ***********/

footer {
	background: #ecf0f1;
	width: 100%;
	height: 80px;
	position: absolute;
	bottom: 0;
	left: 0;
	line-height: 80px;
}
footer img#WHO_logo {
	width: 50px;
	margin-right: 10px;
}

/*********** End Footer ***********/


/** General **/

.clearfix:after {
	content: '';
	width: 0;
	height: 0;
	font-size: 0;
	display: block;
	clear: both;
}
/*table th {
	background: rgba(243, 243, 243, 0.81);
}*/
tr.selected {
	background: #dfe9f4 !important;
	border-left:2px solid rgba(25, 0, 255, 0.68);
}
select:hover {
	cursor:pointer;
}
select option {
	padding: 3px 5px;
}
.text-green {
	color: #66cb03;
}
.text-red {
	color: crimson;
}
.text-blue {
	color: #187cdd;
}
.text-middle {
	vertical-align: middle !important;
}
.no-padding {
	padding: 0;
}
.no-wrap {
	white-space: nowrap !important;
}
.pointer {
	cursor: pointer;
}
.btn-flat {
	border-radius: 0 !important;
}
.input-group-addon {
	border-radius: 0 !important;
}
.hint:after,
[data-hint]:after {
	text-shadow: none !important;
	font-size: 13px !important;
	font-weight: bold;
}
.content-header {
	display: inline-block;
	padding-right: 80px;
	padding-bottom: 15px;
	margin-bottom: 0;
	border-bottom: 2px solid #2459B5;
}
.content-header:before {
	content: ':.';
	display: inline-block;
	margin-right: 10px;
	font-weight: bolder;
}
.content-body .row {
	margin-bottom: 10px;
}
.no-marginTop,
.content-header + hr {
	margin-top: 0;
}
.form-control {
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border-radius: 0 !important;
}
.well {
	-webkit-border-radius:0 !important;
	-moz-border-radius:0 !important;
	border-radius:0 !important;
}
.form-control:focus {
	border: 1px solid rgba(0, 36, 157, 0.5);
}
ul.pagination .paginate_button * {
	border-radius: 0 !important;
	color: rgba(0, 0, 0, 0.78);
	font-weight: 500;
}
ul.pagination .paginate_button.active * {
	color: white;
}

.border-box {
    margin-bottom: 30px;
    padding:20px;
    border: 2px solid #d3d3d3;
}

/* Custom Modal Style */
.modal-header {
	border-top: 6px solid transparent;
	position: relative;
}
.modal-header:before {
	content : '';
	display: block;
	width:0;
	height: 0;
	border:6px solid transparent;
	position: absolute;
	top: 0;
	left: 0;
}

.modal-primary .modal-header,
.modal-primary .modal-header:before{
	border-left-color: #2a83d0;
	border-top-color: #2a83d0;
}

.modal-success .modal-header,
.modal-success .modal-header:before{
	border-left-color: #449D44;
	border-top-color: #449D44;
}

.modal-danger .modal-header,
.modal-danger .modal-header:before{
	border-left-color: #D9534F;
	border-top-color: #D9534F;
}

.modal-info .modal-header,
.modal-info .modal-header:before{
	border-left-color: #31B0D5;
	border-top-color: #31B0D5;
}

.modal-header h1,
.modal-header h2,
.modal-header h3,
.modal-header h4,
.modal-header h5,
.modal-header h6 {
	font-weight: bold !important;
}
.modal-content {
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
}
.modal-wide {
	padding: 0 !important;
}
.modal-wide .modal-dialog {
	width: 99% !important;
	height: 98% !important;
	min-height: 98% !important;
	margin: 0.5% auto !important;
	position: relative;
}
.modal-wide .modal-dialog .modal-content {
	width: 100%;
	min-height: 100%;
	margin-bottom: 8px;
}
.modal-wide .modal-dialog .modal-body {
	padding-bottom: 80px;
}
.modal-wide .modal-dialog .modal-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.modal-wide.fixed-footer .modal-dialog{
    margin-bottom: 0;
}
.modal-wide.fixed-footer .modal-footer {
    position: fixed;
    background: white;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding-left: 20px;
    padding-right:20px;
    border-top-width: 3px;
}

/* NAV TABS */
.nav-tabs-custom {
	margin-bottom: 20px;
	background: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
}
.nav-tabs-custom > .nav-tabs {
	margin: 0;
	border-bottom-color: #f4f4f4;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.nav-tabs-custom > .nav-tabs > li {
	border-top: 3px solid transparent;
	margin-bottom: -2px;
}
.nav-tabs-custom > .nav-tabs > li > a {
	color: #444;
	border-radius: 0 !important;
}
.nav-tabs-custom > .nav-tabs > li > a,
.nav-tabs-custom > .nav-tabs > li > a:hover {
	background: transparent;
	margin: 0;
}
.nav-tabs-custom > .nav-tabs > li > a:hover {
	color: #999;
}
.nav-tabs-custom > .nav-tabs > li:not(.active) > a:hover,
.nav-tabs-custom > .nav-tabs > li:not(.active) > a:focus,
.nav-tabs-custom > .nav-tabs > li:not(.active) > a:active {
	border-color: transparent;
}
.nav-tabs-custom > .nav-tabs > li.active {
	border-top-color: #3c8dbc;
}
.nav-tabs-custom > .nav-tabs > li.active > a,
.nav-tabs-custom > .nav-tabs > li.active:hover > a {
	background-color: #fff;
	color: #444;
}
.nav-tabs-custom > .nav-tabs > li.active > a {
	border-top-color: transparent;
	border-left-color: #f4f4f4;
	border-right-color: #f4f4f4;
}
.nav-tabs-custom > .nav-tabs > li:first-of-type {
	margin-left: 0;
}
.nav-tabs-custom > .nav-tabs > li:first-of-type.active > a {
	border-left-color: transparent;
}
.nav-tabs-custom > .nav-tabs.pull-right {
	float: none!important;
}
.nav-tabs-custom > .nav-tabs.pull-right > li {
	float: right;
}
.nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type {
	margin-right: 0;
}
.nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type > a {
	border-left-width: 1px;
}
.nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type.active > a {
	border-left-color: #f4f4f4;
	border-right-color: transparent;
}
.nav-tabs-custom > .nav-tabs > li.header {
	line-height: 35px;
	padding: 0 10px;
	font-size: 20px;
	color: #444;
}
.nav-tabs-custom > .nav-tabs > li.header > .fa,
.nav-tabs-custom > .nav-tabs > li.header > .glyphicon,
.nav-tabs-custom > .nav-tabs > li.header > .ion {
	margin-right: 5px;
}
.nav-tabs-custom > .tab-content {
	background: #fff;
	padding: 10px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.nav-tabs-custom .dropdown.open > a:active,
.nav-tabs-custom .dropdown.open > a:focus {
	background: transparent;
	color: #999;
}

/** Bootstrap TagsInput **/
.form-vertical .bootstrap-tagsinput {
	display: block !important;
}

/* Select 2 */
.select2-container {
    width: 100% !important;
}
.select2-selection--multiple .select2-search__field {
    border: none !important;
}

/* iCheck */
.icheckbox_minimal.indeterminate-line,
.icheckbox_minimal.indeterminate-dot {
	display:inline-block;
}

.icheckbox_minimal.indeterminate-line:before {
	content: "";
	position: absolute;
	width:.8em;
	height:.25em;
	background-color: black;
	left:22%;
	right:25%;
	top:40%;
	bottom:25%;
}

.icheckbox_minimal.indeterminate-dot:before {
    content: "";
    position: absolute;
    width: .6em;
    height: .6em;
    background-color: black;
    left: 28%;
    right: 25%;
    top: 27%;
    bottom: 25%;
}

/* Bootstrap Multiselect */
.custom-multiselect {
	padding-right: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.custom-multiselect > .caret {
	position: absolute;
	right: 8px;
	top: 15px;
}
.custom-multiselect-container.dropdown-menu {
	min-width: 100%;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
}
.custom-multiselect-container .filter {
	padding: 5px;
}
.custom-multiselect-container > li > a > label {
	padding: 5px 20px 5px 30px !important;
}
/** Avoid tooltips behind the table*/
div.DTFC_LeftBodyWrapper table, div.DTFC_RightBodyWrapper table {
    border-top: 1px solid transparent !important;
}
div.DTFC_RightBodyWrapper {
    overflow: visible !important;
}
div.DTFC_RightBodyLiner {
    width : 100% !important;
    overflow: visible !important;
}
/**End*/